:root {
  --input-border: var(--pink-50);
  --input-focus-border: var(--pink-400);
  --input-outline: var(--pink-200);
}

/* https://moderncss.dev/custom-css-styles-for-form-inputs-and-textareas/ */
textarea,
input {
  width: 100%;
  font-size: 16px;
  font-size: max(16px, 1em);
  font-family: inherit;
  padding: 0.25em 0.5em;
  background-color: #fff;
  border: 2px solid var(--input-border);
  border-radius: 4px;
}

textarea:focus,
input:focus {
  outline: 5px solid transparent;
  border: 2px solid var(--input-focus-border);
  box-shadow: 0 0 3px 5px var(--input-outline);
}

input {
  line-height: 1;
  height: 2.25rem;
}

input[type='file'] {
  font-size: 0.9em;
  padding-top: 0.35rem;
}

textarea[readonly],
input[readonly] {
  border-style: dotted;
  cursor: not-allowed;
  color: #777;
}

textarea[disabled],
input[disabled] {
  --input-border: #ccc;

  background-color: #eee;
  cursor: not-allowed;
}

textarea {
  resize: vertical;
}
