.hidden {
  display: none !important;
}

.invisible {
  visibility: hidden !important;
}

.flex {
  display: flex !important;
}

.block {
  display: block !important;
}

.relative {
  display: relative !important;
}
