<section class="py-4 bg-purple-50 grid gap-x-2 gap-y-12 items-center justify-center grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
  <%= render partial: "facilities/facility_overview", collection: Facility.limit(10), as: :facility %>
</section>
