*,
*::before,
*::after {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 0;
}

p,
li,
h1,
h2,
h3,
h4,
h5,
h6 {
  /* Help prevent overflow of long words/names/URLs */
  word-break: break-word;

  /* Optional, not supported for all languages */
  hyphens: auto;
}
