/* For screen readers only */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

/* Not for screen readers */
.not-sr-only {
  position: static;
  width: auto;
  height: auto;
  padding: 0;
  margin: 0;
  overflow: visible;
  clip: auto;
  white-space: normal;
}

.flex {
  display: flex;
}

.hidden {
  display: none;
}

.invisible {
  visibility: hidden;
}

.block {
  display: block;
}

.relative {
  display: relative;
}


/* https://css-tricks.com/aspect-ratio-boxes/ */
/* Scope right on the element you need it for */
/* <div style="--aspect-ratio:815/419;"> */
/* </div> */

/* <div style="--aspect-ratio:16/9;"> */
/* </div> */

/* <!-- even single value --> */
/* <div style="--aspect-ratio:1.4;"> */
/* </div> */

[style*="--aspect-ratio"] {
  position: relative;
}

[style*="--aspect-ratio"]::before {
  content: "";
  display: block;
  padding-bottom: calc(100% / (var(--aspect-ratio)));
}

[style*="--aspect-ratio"] > :first-child {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}

